.container {
    margin-top: 5rem;
    padding: 5rem;
    text-align: center;
}

.landingPage {
    margin-top: 5rem;
    font-size: 1.5rem;
}

.fas {
    padding-right: 1rem;
}

a {
    color: #333;
}

.openExisting {
    line-height: 2
}

.createNew {
    line-height: 3;
}

.publish {
    line-height: 2;
}

@media screen and (max-width:768px) {
    .container {
        margin: 0rem;
    }
}